.heading {
	text-align: center;
	padding: 24px 0 0;
}
.ctas {
	background-image: image-url('homepage.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	.cta-buttons {
		text-align: center;
	}
	.cta-logo {
		padding: 120px 120px 24px;
		margin: auto;
		display: block;
	}
}
.cta {
	display: inline-block;
	margin: 0 48px;
  line-height: 1;
  padding: 8px 16px;	
  font-size: 24px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background: #1d1d1d;
	border: 0;
	border-bottom: 2px solid #000;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);	
	a {
		color: #fff;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
    cursor: pointer;
	}
}
.cta-logo {
	max-width: 1000px;
}

.footer-icon {
	&.email {
		height: 40px;
		vertical-align: text-bottom;
	}

	padding: 0 4px 32px;
}

.icons {
	text-align: center;
	a {
		color: transparent;
	}
}

.as-seen-in {
	text-align: center;

	.as-seen-in-head {
		font-weight: 400;
	}

	.as-seen-in-img {
		height: 100px;
    width: 116px;
    border-radius: 6px;
    margin: 4px 16px;
	}
	&:before {
		content: "";
	  width: 25%;
	  background-color: rgba(0, 0, 0, 0.15);
	  height: 1px;
	  display: block;
	  margin: auto;
	  margin-bottom: 48px;
	}
}

