.webinar {
	.ctas {
		background-image: image-url('webinar.png');
		height: 600px;
	}

	.date {
		font-weight: 200;
		font-size: 20px;
		padding-bottom: 16px;
		float: left;
		&:after {
			content: "";
			width: 50%;
			background-color: rgba(0,0,0,0.15);
			height: 1px;
			display: block;
			margin-top: 4px;
			margin-left: 40px;
		}
	}

	.session {
		padding: 16px 48px;
	}

	.title {
		font-weight: 600;
    padding: 4px 250px;
  }

	.assignment {
		font-weight: 400;
	}
} 