.about-us
	=image_tag "homepage.jpeg", :class => "central-img"
	.container 
		.mission-statement= @page.content(:mission_statement).try(:html_safe)
		.bio
			=image_tag "rachel.png", :class => "headshot"
			.text 
				.title 
					Rachel Hoffman, LSMW <br />
					Co-founder
				= @page.content(:rachel_bio).try(:html_safe)
		
		.bio
			=image_tag "lisa.png", :class => "headshot"
			.text 
				.title
					Lisa Hochberger, M.Ed. <br />
					Co-founder
				= @page.content(:lisa_bio).try(:html_safe)
