.workshops
	.workshop
		=image_tag "eat.jpg", :class => "workshop-image"
		.workshop-header
			You are what you eat! 
		.workshop-summary
			Build your appetite for seduction, let us teach you what can be done to enhance your "relationship" with food. Schedule your aphrodisiac course today.
	.clearfix
	.workshop
		=image_tag "fellatio.jpg", :class => "workshop-image"
		.workshop-header
			F*cking with Fellatio
		.workshop-summary
			Let’s face it, there are certain skills that every girl should know before they blow. Schedule your bachelorette or group workshop today.
	.clearfix
	.workshop
		=image_tag "yoga.jpg", :class => "workshop-image"
		.workshop-header
			Deepen Your Practice 
		.workshop-summary
			It has been proven that Yoga can help strengthen and realign your pelvic floor and muscles, enhancing your sex drive. Schedule your Yoga workshop today. 