.home
	=image_tag "homepage.jpeg", :class => "central-img"
	 
	.ctas
		.cta
			%a{ :href => "/8-session-webinar", :title => "8 session webinar" }
				COUPLES <br />
				8 Session Webinar
		.cta
			%a{ :href => "/6-session-webinar", :title => "6 session webinar" }
				SINGLES <br />
				6 Session Webinar

	.container
		%h3{:class => "heading"} JOIN US ON A JOURNEY TO fuck <br /> <b>PLEASURE, PASSION, AND PURPOSE</b>

		.as-seen-in
			%h5{:class => "as-seen-in-head"} As Seen In
			=image_tag "305.jpeg", :class => "as-seen-in-img"
			=image_tag "clementine.png", :class => "as-seen-in-img"
			=image_tag "cure.jpg", :class => "as-seen-in-img"
			=image_tag "Racked.jpg", :class => "as-seen-in-img"
			=image_tag "mbg.jpg", :class => "as-seen-in-img"
			=image_tag "murrays.png", :class => "as-seen-in-img"
			=image_tag "EliteDaily.jpg", :class => "as-seen-in-img"
			=image_tag "nypost.png", :class => "as-seen-in-img"
			=image_tag "timeout.png", :class => "as-seen-in-img"
			=image_tag "ZestNow.jpg", :class => "as-seen-in-img"
			=image_tag "StyleCaster.gif", :class => "as-seen-in-img"
