.one-on-one
	.ctas
		=image_tag "cta-logo.png", :class => "cta-logo"
		.cta-buttons
			.cta
				%a{ :href => "/checkouts/new", :title => "Sign up" }
					Register for <br />
					One on One Coaching 

	.container
		%h3{:class => "heading"} Holistic Sexual Wellness Coaching from Sexpertise
		.list-head=`Sex Coaching is a blend of life coaching and sexology. You receive education and tools to improve and enhance your personal life. Who needs sex coaching?`

		.content 
			%p Most of us can imagine an "ideal self": a representation of how we wish to be seen. For example, you might envision being the biggest boss at the office or the funniest comedian among your friends. It's natural to want to be accepted by others, so we try to put ourselves in certain boxes, showing people how we'll add some sort of value to their lives.

			%p The concept of the "ideal self" often transfers to the bedroom. We want to please our partners, and we aim to ensure that they're attracted to both our bodies and to the sensations we create. It's no wonder that sex is often associated with the idea of "performance.”

			%p In reality, sex should be less people pleasing and theatrical and instead more self-centered. Here's why: One of the most important elements of sex is authenticity. Studies have shown that great sex is often caused by being genuine, which requires giving yourself the freedom to be unapologetically you. It means being honest about your likes and dislikes with both yourself and your partner while revealing your (literally) naked emotions.

			%p I like to call this “self-centered sex.” It’s the act of being uninhibited during sexual experiences. It’s saying whatever you want during pillow talk. It’s being whomever you want to be, gaining full acceptance from your partner. It’s exploring and discovering sans shame and guilt. It’s giving yourself permission to experience pleasure, worry-free.

			%p When you allow your other half to take you as you are, you give power and permission to both parties. Yes, this can be risky, but with risk comes reward.

			%p “Self-centered sex” is the true key to a great sex life. There is no “secret sex act” that a person can perform on demand to achieve mind-blowing pleasure. Instead, it’s the mindset and intentions that make all the difference.

			%p The next time you enter the bedroom, try to let go of your “ideal self” and begin to own your actual self. Transparency is more erotic than you think.

		.one-one-one-cta
			%p Want more tips from the sexologists? Sexpertise offers sexual wellness coaching to individuals looking to take control of their sexuality. Let us guide you on a journey to regain passion, pleasure and purpose with yourself or in your intimate relationship(s).

			%h4 LETS TALK ABOUT <br/> SEXPERTISE

			Holistic Sexual Wellness Coaching
			<br/> LENGTH: 45-minute sessions
			<br/> WHERE: Online through the ZOOM platform (HIPPA Compliant Software)
			<br/> EMAIL: Lisa@sexpertise.org for pricing
			<br/> sexpertise.org


