%h1='What is Sex Coaching?'
.list-head=`Sex Coaching is a blend of life coaching and sexology. You receive education and tools to improve and enhance your personal life. Who needs sex coaching?`
%ul
	%li You are struggling in a personal relationship 
	%li You feel body shame or a lack of confidence
	%li You’ve lost the passion or desire 
	%li Your sex drive is not where you want it to be
	%li You want to enhance your sexual pleasure 
	%li You’re frustrated with your dating life 
	%li You want to work with a professional sexologist that will cater to your exact needs

.summary The difference between sex coaching and sex therapy is that coaching is faster paced and solution focused. We will be more vocal and explore positive changes, instead of focusing on the past.

.cta For more information rachel